.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

data/raw/
vector_store/
data/raw/*.csv
data/processed/*.csv

# Except gitkeeps
!data/raw/.gitkeep
!data/processed/.gitkeep
!vector_store/.gitkeep
!logs/.gitkeep

# Logs
logs/*.log
