pandas
numpy
scikit-learn
sentence-transformers
chromadb
faiss-cpu
gradio
huggingface-hub
python-dotenv
tqdm
streamlit
matplotlib
jupyter
langchain
langchain-community
langchain-huggingface
langchain-chroma